<body class="bg-black">

    <div class="title">
        <h1 class="w-screen flex justify-center items-center text-7xl text-white h-[37rem]"> Creating inovation For Everyday people</h1>
    </div>

    <div class="card-container flex items-center justify-center">
        <div class="card relative top-1/2 left-1/2 flex float-left w-96 h-64 p-12">
            <div class="image w-full h-full overflow-hidden">
            <%= image_tag('eduimg.jpg') %>
            </div>
            <div class="details absolute top-0 left-0 h-full bg-blue-700">
            <div class="center p-5 text-center bg-white absolute top-1/2">
                <h1 class="m-0 p-0 text-red-600 leading-5 text-xl uppercase">Education</h1>
                <p class="my-3 p-0 text-gray-800">Graudated from Augusta Technical College with a Associates in Cyber Security.</p>
            </div>
            </div>
        </div>

        <div class="card relative top-1/2 left-1/2 flex float-left w-96 h-64 p-12">
            <div class="image w-full h-full overflow-hidden">
            <%= image_tag('me.jpg') %>
            </div>
            <div class="details absolute top-0 left-0 h-full bg-blue-700">
            <div class="center p-5 text-center bg-white absolute top-1/2">
                <h1 class="m-0 p-0 text-red-600 leading-5 text-xl uppercase">Projects</h1>
                <p class="my-3 p-0 text-gray-800">Graudated from Augusta Technical College with a Associates in Cyber Security</p>
            </div>
            </div>
        </div>

        <div class="card relative top-1/2 left-1/2 flex float-left w-96 h-64 p-12">
            <div class="image w-full h-full overflow-hidden">
            <%= image_tag('eduimg.jpg') %>
            </div>
            <div class="details absolute top-0 left-0 h-full bg-blue-700">
            <div class="center p-5 text-center bg-white absolute top-1/2">
                <h1 class="m-0 p-0 text-red-600 leading-5 text-xl uppercase">Education</h1>
                <p class="my-3 p-0 text-gray-800">Graudated from Augusta Technical College with a Associates in Cyber Security</p>
            </div>
            </div>
        </div>
    </div>
    
</body>